{% extends "app/base.html" %}

{% block content %}

<div class="text-center">
<div class="jumbotron about" style="background-color: transparent;">
    <h1>About us</h1>
    <hr style="border-top-color: #FDA326">
 	<p class="font-size-20">One Emoji thousands of Emotions</p>
 	<p class="font-size-16">We are help you to get emotions of your friends via Emoji <br/> &#128514; &#128534; &#128539; &#128562;</p>
  
</div>


<div class="about-content">
	{% load staticfiles %}
	<img width="300" src="{% static 'app/images/smile_spot_logo@2x.png' %}" style="margin-bottom: 5px;" />
	<br/>
	<div style="text-align: left;display: inline-block;"> 
	<p><i style="color: #FDA326;" class="fa fa-envelope-o fa-fw"></i>&nbsp;&nbsp;&nbsp; <a href="mailto:{{company_mail}}" style="color:gray">{{company_mail}}</a> </p>
	<p><i style="color: #DD2A7B;" class="fa fa-instagram fa-fw"></i>&nbsp;&nbsp;&nbsp; <a href="{{company_insta_url}}" target="_blank" style="color:gray">{{company_name}} Instagram</a> </p>
	<p><i style="color: #4267B2;margin-bottom: 20px" class="fa fa-facebook-official fa-fw"></i>&nbsp;&nbsp;&nbsp; <a href="{{company_fb_url}}" target="_blank" style="color:gray">{{company_name}} Facebook</a> </p>
	</div>
</div>

</div>

{% endblock %}
