{% extends "app/base.html" %}

{% block content %} 
<div class="text-center">

    <p class="text-color-gray font-size-20" style="padding-top:20px;">BADGES</p>
   
<div class="badge-box">
    <div class="container">
     	<div class="row">
			 {% for badge,badgeName,userCount,emojiCount in badges %}
			    <div class="col-lg-4 col-xs-12 text-center">


					<div class="box">
						{% load staticfiles %}
                        <img src="{{badge}}" width="75" height="75" />   

						<div class="box-title">
							<h3>{{badgeName}}</h3>
						</div>
						<div class="box-text">
							{% if forloop.counter0 == 0 %}
							<span>default <br/> <br/></span>
							{% else %}
							<span>more than <br/> {{userCount}} users |  {{emojiCount}} emojis</span>
							{% endif %}
						
						</div>
					 </div>
				</div>	 
			{% endfor %}
    </div>
</div>

</div>

<a onclick="goBack()" style="margin-top:20px" class="btn btn-lg btn-warning btn-w60">Go back</a>
</div>

{% endblock %}

{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/site.js' %}"></script>

{% endblock %}