﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta property="og:title" content="{{title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.get_host }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:alt" content="Title">    
    <meta property="og:description" content="Collect Emotions of your friends via Emoji">
    
    <meta name="description" content="Collect Emotions of your friends via Emoji" />

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
    <script src="{% static 'app/scripts/cookie.notice.js' %}"></script>
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <meta property="og:image" content="{% static 'app/images/url_pre.jpg' %}">
</head>
<body>
    <section class="body-sec">
    <header>
   <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar" style="margin-bottom:0px !important">
       <div>
           <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>

               <a href="{% url 'home' %}" class="navbar-brand logo_txt_center_align">
               <img width="80" src="{% static 'app/images/smile_spot_logo@2x.png' %}"/>
               <p style="margin:0px;margin-left:8px">{{title}}</p>
               </a>
           </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right" style="margin-top:4px">
                  {% if request.COOKIES.createdUser %} 
                <li><a href="{% url 'dashboard' request.COOKIES.createdUser %}" class="btn btn-md btn-warning">My Profile</a>
                {% endif %}
                <li style="margin-left:8px"><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact us</a></li>
                <li><a href="{% url 'privacypolicy' %}">Privacy policy</a></li>
            </ul>
        </div>
       </div>
   </nav>
        </header>

    <section class="my-container">
        <div class="row">
        <div class="col-md-2">
               <!--<p>Left</p>-->
        </div>
        
        <div class="content-main col-md-8">
            <div class="my-content-container">
            {% block content %}{% endblock %}
           
            </div>
        </div>
        
        <div class="col-md-2">
              <!--<p>Right</p>-->
        </div>
       </div>
    </section>
        <footer class="text-center">
        <div class="logo_txt_center_align">
           {% load staticfiles %}
    <a href="{% url 'about' %}"><img width="100" src="{% static 'app/images/smile_spot_logo@2x.png' %}"/></a>
     <p style="margin: 0px;margin-left:8px;font-size: 16px;font-weight:900;color:#FDA326;"> | &nbsp;&nbsp;{{title}}</p>
    </div>  
        </footer>

</section>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
     {% block scripts %}{% endblock %}
</body>
</html>