﻿{% extends "app/base.html" %}

{% block content %} 


<div class="text-center">

    <iframe id="contact-us-iframe-id" src="https://docs.google.com/forms/d/e/1FAIpQLSduf7x9tj_WplA7xzo7w6tMe8Lj54E03XMILXDv4hxqkt0UPQ/viewform?embedded=true" 
            class="contact-us-iframe" height="1150px"  frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

     {% load staticfiles %}
	<img width="300" src="{% static 'app/images/smile_spot_logo@2x.png' %}" style="margin-top:8px;margin-bottom: 5px;" />
</div>

{% endblock %}
