﻿{% extends "app/base.html" %}

{% block content %} 


<div class="container text-center">
    
    {% load staticfiles %}

    <img src="{% static 'app/images/people_group.png' %}" width="300" />
    


   <h4 style="margin-top:40px" class="font-fmly">Let's Get Started to collect emoticons </h4>

<form method="post">
    {% csrf_token %}

     {{ form.name }}

    <button type="submit" class="btn btn-lg btn-warning btn-w60 font-fmly">Create</button>
   
</form>

</div>

{% endblock %}