﻿ 
{% if emojis %}

<div class="container">

<div style="position: relative;">
  
   <div class="rankings margin-bottom-20" style="padding: 30px;position: relative;background-color: white;border-radius:20px;border: 3px solid #FDA326">

        <div class="row">
            <div class="col-sm-4 rank" style="margin: auto;padding:0px;margin-bottom: 10px;">
              <div ><p class="font-size-40  emoji-font">{{perfered_emoji.char}}</p>
              </div>
              <p class="font-size-14 margin-top-20">Most received Emoji</p> 
          </div>
            <div class="col-sm-8 rank" style="margin: auto;margin-top: 10px;" >
              <div class="achievement" >
                 {% load staticfiles %}
                 {% for badge,badgeName in userBadges %}
                 <img data-toggle="tooltip" data-placement="bottom" title="{{ badgeName }}" 
                    src="{{badge}}" width="50" height="50" />   
                 {% endfor %}   
              </div>
              <a href="{% url 'badges' %}"><p class="font-size-14 margin-top-20"> <i class="fa fa-th-list" style="color: #FDA326"></i> Achievements</p>  </a>
          </div>
        </div>

    </div>
   {% if isDashboard == True  %} 

    <div style="position: absolute;right: 30px;top: 20px;">
      <a id="rank_export" class="btn btn-warning" style="padding:10px">
          <span class="glyphicon glyphicon-export"></span><br>
      </a>
      <p style="font-size: 10px;border-radius: 5px;">Export</p>
    </div>

    {% endif %}
</div>


<!-- List Div -->

<ul class="chat">

    {% for emojiUser in emojis %}

     <li class="clearfix"
        {% if forloop.counter0|divisibleby:2 %}
         style="border-radius:20px;padding:20px;background-color:white;box-shadow:1px 2px 5px peachpuff;"
         {% else %}
         style="border-radius:20px;padding:20px;background-color:white;box-shadow:1px 2px 5px lightblue;"
         {% endif %}
         >
                 <!--  
                  <div class="pull-right">
                <div  class="center-emoji">
                    <label class="emoji-font">{{emojiUser.most_prefered_emoji.char}}</label>
                </div>
                    
                        </div> -->
                         
                         <p class="center-emoji emoji-font pull-right 
                         {% if forloop.counter0|divisibleby:2 %} user_emoji_red   {% else %} user_emoji_blue {% endif %}">{{emojiUser.most_prefered_emoji.char}}<!-- <br/><p style="font-size: 12px;">30%</p> --></p>

                            <div class="chat-body  clearfix">
                                <div class="header" style="text-align:left;">
                                    <strong class="primary-font left">{{emojiUser.posted_by}}</strong> 
                                </div>
                                <p class="emoji-font" style="text-align:left;margin-top:5px;font-size:20px;text-shadow: 2px 2px 10px peachpuff;">
                                   {% for emoji in emojiUser.emoji_list %}
                                     {{ emoji.char }}
                                    {% endfor %}

                                </p>
                            </div>
                        </li>

    {% endfor %}

          
        </ul>
        </div>


<!-- Screen shot div -->

   <div id="export_rank" style="position: relative;display: none;" class="export-card">  
        <div class="margin-bottom-20" style="position:relative;margin-top:8px;padding: 30px;background-color: white;border-radius:20px;border: 3px solid #FDA326"> 
          <div style="width: 100%;">
            <p class="font-size-22" style="color: #FDA326;overflow-wrap: break-word;">{{user.name}}</p>
          </div>
            

            <div style="margin: auto;padding:0px;margin-bottom: 10px;border-bottom: 1px solid #FDA326">
              <div ><p class="font-size-40  emoji-font">{{perfered_emoji.char}}</p>
              </div>
              <p class="font-size-14 margin-top-20">Most received Emoji</p> 
          </div>
            <div style="margin: auto;margin-top: 10px;" >
              <div class="achievement" >
                 {% load staticfiles %}
                 {% for badge,badgeName in userBadgesPrint %}
                 <img src="{{badge}}" width="50" height="50" />   
                 {% endfor %}   
              </div>
              <p class="font-size-14 margin-top-20"> Achievements</p>
          </div>

    </div>

    <div style="position: absolute;right: 20px;bottom: 2px;font-size: 10px;">
      <p>{{ request.get_host }}</p>
    </div>
</div>



<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content text-center">
    <div class="modal-header">
      <span class="close"><i class="fa fa-times"></i></span>
      <p class="font-size-20" style="margin-left: 8px">Export as png</p>
    </div>
    <div class="modal-body" style="text-align: center;">
         <div style="position: relative;" class="export-card">  
        <div class="margin-bottom-20" style="position:relative;margin-top:8px;padding: 30px;background-color: white;border-radius:20px;border: 3px solid #FDA326"> 
          <div style="width: 100%;">
            <p class="font-size-22" style="color: #FDA326;overflow-wrap: break-word;">{{user.name}}</p>
          </div>
            

            <div style="margin: auto;padding:0px;margin-bottom: 10px;border-bottom: 1px solid #FDA326">
              <div ><p class="font-size-40  emoji-font">{{perfered_emoji.char}}</p>
              </div>
              <p class="font-size-14 margin-top-20">Most received Emoji</p> 
          </div>
            <div style="margin: auto;margin-top: 10px;" >
              <div class="achievement" >
                 {% load staticfiles %}
                 {% for badge,badgeName in userBadgesPopUp %}
                 <img src="{{badge}}" width="50" height="50" />   
                 {% endfor %}   
              </div>
              <p class="font-size-14 margin-top-20"> Achievements</p>
          </div>

    </div>

    <div style="position: absolute;right: 20px;bottom: 2px;font-size: 10px;">
      <p>{{ request.get_host }}</p>
    </div>
</div>
  
       <a id="rank_download" style="display: block;margin-left: auto;margin-right: auto;" download="{{user.name}}.png" class="btn btn-lg btn-warning btn-w60">Save as Image</a>
  

</div>
</div>
</div>


 {% else %}
<div>

     {% load staticfiles %}

    <img src="{% static 'app/images/no_emoji.png' %}" width="300"/>

    <div>
        <p style="margin-top:16px;color:#FDA326;font-size:x-large;font-weight:700">No Emoji's <br> collected yet!!</p>
        {% if isDashboard == True  %} 
        <p> Click on the share link to get emojis from your friends </p>
        {% endif %}
    </div>
</div>  
{% endif %}