{% extends "app/base.html" %}

{% block content %}
<div class="text-center">
<div class="jumbotron" style="background-color: transparent;margin-bottom: 0px;padding-bottom: 0px;padding-top: 20px;">
    <h1>Smile Please</h1>
  
</div>

 {% load staticfiles %}
    <img src="{% static 'app/images/url.jpg' %}" width="370" height="200" 
         style="object-fit:fill;border-radius:20px;"/>

<br/>
<a href="{% url 'create' %}" class="btn btn-lg btn-warning btn-w60">Get emoticons</a>


<blockquote class="quote-div"> <p class="margin-top-20">some words are beyond expression,<br/> let emojis take the responsibility &#128521;</p>
  </blockquote>
  
</div>
{% endblock %}
