﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>My Form</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}"/>
</head>
<body>
    <div>
   
    <form class="form-signin" method="post" action="{% url 'name' %}">
        {% csrf_token %}
    {{ form.name }}
    <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>

</body>
</html>