﻿{% extends "app/base.html" %}

{% block content %} 

<div class="container text-center">
    
    {% load staticfiles %}

    <img src="{% static 'app/images/people_group.png' %}" width="300"/>
    


   <p style="margin-top:40px" class="font-size-20">Let's Get Started</p>

<form method="post">
    {% csrf_token %}

     {{ form.name }}

    <button type="submit" class="btn btn-lg btn-warning btn-w60">Continue</button>
   
</form>

</div>

{% endblock %}