﻿{% extends "app/smileyselectbase.html" %}

{% block content %} 

<div class="container text-center">

    <p class="font-size-20 margin-top-20">Select emoticons for  <span class="name-span font-size-22">{{user.name}}</strong></p>
    
<ul class="nav nav-pills">
    {% for category in categories %}
    {% if forloop.counter == 1 %}
       <li class="active"><a data-toggle="tab" href="#category{{forloop.counter}}">{{category}}</a></li>
    {% else %}
    <li><a data-toggle="tab" href="#category{{forloop.counter}}">{{category}}</a></li>
    {% endif %}
    {% endfor %}
</ul>

<div class="tab-content">
     
     {% for emojiTemp in emojiList %}
            {% if forloop.counter == 1 %}
            <div id="category{{forloop.counter}}" class="tab-pane fade in active">
                 <div class="box" unselectable="on">
                     <div class="panelList emojiFont">
                 {% for emoji in emojiTemp %}
                     <div class="panel">
                         <div class="char">{{ emoji.char }}</div>
                     </div>
                {% endfor %}
                         </div>
                </div>
            </div>
           {% else %}
            <div id="category{{forloop.counter}}" class="tab-pane fade">
                <div class="box">
                    <div class="panelList emojiFont">
                 {% for emoji in emojiTemp  %}
                     <div class="panel">
                        <div class="char"> {{ emoji.char }}</div>
                     </div>
                {% endfor %}
                  </div>
                 </div>
            </div>
            {% endif %}
  
    {% endfor %}

</div>


<div id="bottomStick" style="display:none;">

				<form method="post" style="margin-bottom: 0px" onsubmit="makeEnable()">
                    {% csrf_token %}
					<div class="input-group">
						<!-- <textarea id="selected-smiley-textarea" class="form-control input-md"></textarea> -->
                        {{ form.smiley }}
                        <span class="input-group-btn">
                        <button type="button" id="clear-button" class="btn btn-warning btn-md margin-left-right"><i aria-hidden="true" class="fa fa-close"></i></button>
                        <button type="submit" class="btn btn-primary btn-md margin-left-right" id="btn-chat"><i aria-hidden="true" class="fa fa-send"></i></button>
                        </span>
                    </div>
		
		</form>

</div>

</div>
{% endblock %}

{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/site.js' %}"></script>

{% endblock %}
