﻿{% extends "app/base.html" %}

{% block content %} 

{% load staticfiles %}

<div class="container text-center">

    <p class="text-color-gray margin-top-bottom-10 font-size-20">Get more Emoticons by sharing the link</p>
    
    {% load staticfiles %}
    <img src="{% static 'app/images/share.png' %}" width="300" class="share-img"/>
    

    <p style="margin-top:30px;" class="font-size-20"><strong>Share Your Link</strong></p>
    <p class="font-size-16" style="font-weight: 590">to your friends to get more emoticons</p>

    <div class="input-group share-link">
         <span class="input-group-btn">
             <i style="padding:10px;color:#FDA326" class="fa fa-link"></i>
              </span>
              <input class="form-control link-input" disabled value="{{ share_url }}"/>   
            <span class="input-group-btn">
             <button type="button" style="padding:10px" 
                     data-clipboard-text="{{ share_url }}"
                     class="btn btn-warning btn-md margin-left-right btn-clipboard"><i class="fa fa-clipboard"></i></button>
             </span>
    </div>



    <a href="{% url 'dashboard' uuid %}" class="btn btn-lg btn-warning btn-w60">Dashboard</a>

    <div class="row-custom social-media-row">
        <div  class="column-custom"> 
            <button class="btn-transparent" onclick="shareViaWhatsapp()">
            <img class="whatsapp" src="{% static 'app/images/WhatsApp_30.png' %}" width="50" height="50"/></button>
        </div>
        <div  class="column-custom">
            <button class="btn-transparent" onclick="fb_share()">
          <img src="{% static 'app/images/fb_30.png' %}"  width="50" height="50"/></button>
        </div>
        <div class="column-custom">
              <img class="social-media-img" src="{% static 'app/images/insta_30.png' %}"  width="50" height="50"/>
        </div>
        <div class="column-custom">
              <img class="social-media-img" src="{% static 'app/images/sharechat_30.png' %}"  width="50" height="50"/>
        </div>
    </div>  

    <blockquote class="quote-div" style="margin-top: 25px" > <p>Never let your friends feel lonely, disturb them to share emoticon for you. &#128525;</p>
  </blockquote>  

    <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close"><i class="fa fa-times"></i></span>
      <p class="font-size-20" style="margin-left: 8px">Share link to social medias</p>
    </div>
    <div class="modal-body">
        <ul class="sm-ul"> 
            <li> <p>Copy your link</p> </li>
            <li> <p>share the link via message, post or story</p> </li>
        </ul>
      
    </div>
    <div class="modal-footer">
      <p>Never let your friends feel lonely, disturb them to share emoticon for you. &#128525;</p>
    </div>
  </div>

</div>

</div>

<script type="text/javascript">
   
    function shareViaWhatsapp() {
    if (typeof isMobile !== "undefined" && isMobile.any()) {
        var url = "{{ share_url }}";
        var text = "Emoji Spot - Collect emotions of your friends via Emoji";
        var message = encodeURIComponent(text) + " - " + encodeURIComponent(url);
        var whatsapp_url = "whatsapp://send?text=" + message;
        window.location.href = whatsapp_url;
    } else {
        alert("Please open in mobile device to share the url");
    }
}

    function fb_share() {
    var fbUrl = "{{ share_url }}";
    var sTop = window.screen.height / 2 - (280);
    var sLeft = window.screen.width / 2 - (310);
    var fb_share_opener = window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(fbUrl), 'sharer', 'toolbar=0,status=0,width=800,height=420,top=' + sTop + ',left=' + sLeft);
}

</script>

{% endblock %}

{% block scripts %}

{% load staticfiles %}
    <script src="{% static 'app/scripts/clipboard.js' %}"></script>
    <script src="{% static 'app/scripts/site.js' %}"></script>
    

{% endblock %}
