﻿{% extends "app/base.html" %}

{% block content %} 
<div class="text-center">
    


    <p style="padding-top:20px;color:#002147;"  class="font-size-20" >when words failed, emojis speaks &#128521;</p>
  

    {% load staticfiles %}
    <img src="{% static 'app/images/conversation_1@2x-min.png' %}"
         class="conversation-img" 
         style="margin-top:5px;border-radius:20px;"/>


         {% if not emojis %}
        <p class="font-size-16 margin-top-20">You are the first person to share emoticons to <span class="font-size-22 name-span">{{user.name}}</span></p>
        {% endif %}

    <p class="font-size-20 margin-top-20">Share your emotions <br/> about <span class="font-size-22 name-span">{{user.name}}</span> via emoticon </p>

    <a href="{% url 'smiley_user' uuid %}" class="btn btn-lg btn-warning btn-w60">&#128521; Share Emoticon &#128536;</a>


    <div class="smiley-list">

        <p class="font-size-20"><span class="font-size-22 name-span">{{user.name}}</span>'s friends shared emoticons for him</p>

         {% include 'app/emoji_list.html' with emojis=emojis %}  

    </div>

</div>

{% endblock %}