﻿{% extends "app/base.html" %}

{% block content %} 
<div class="text-center">

    <p class="text-color-gray font-size-16" style="padding-top:20px;">Thank you for shared your emoticons to 
    <span class="name-span">{{user.name}}</span>,
    <br/> {{user.name}} is lucky to have a friend like you </p>

     {% load staticfiles %}
    <img src="{% static 'app/images/party-emoticons1.png' %}" width="300" height="100" 
         style="margin:10px;object-fit:cover;border-radius:20px;"/>

         <p style="font-size: 30px;color: purple">Now, It's your Turn</p>

   
    <p style="margin:20px;" class="text-color-gray font-size-22"> Get more emoticons than 
    <span class="name-span font-size-24">{{user.name}}</span>
    from your friends </p>

    <a href="{% url 'create' %}" class="btn btn-warning btn-lg btn-w60">Get Emoticons</a>

      <div class="smiley-list">

        <p class="font-size-20"><span class="font-size-22 name-span"> {{user.name}}</span>'s Emoji Collection</p>

         {% include 'app/emoji_list.html' with emojis=emojis %}  

    </div>
</div>

{% endblock %}