﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta property="og:title" content="{{title}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.get_host }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta property="og:image:alt" content="Title">    
    <meta property="og:description" content="Collect Emotions of your friends via Emoji">

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
     <meta property="og:image" content="{% static 'app/images/url_pre.jpg' %}">
</head>
<body>
    <section>
    <header>
   <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar" style="margin-bottom:0px !important">
       <div>
           <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>

               <a href="#" class="navbar-brand">Smile Please</a>
           </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
               <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact us</a></li>
            </ul>
        </div>
       </div>
   </nav>
        </header>

    <section class="my-container" style="margin-bottom: 100px">
        <div class="row">
        <div class="col-md-2">
             <!-- <p>Left</p> -->
        </div>
        
        <div class="content-main col-md-8">
            <div class="my-content-container">
            {% block content %}{% endblock %}
           
            </div>
        </div>
        
        <div class="col-md-2" >
              <!-- <p>Right</p> -->
        </div>
       </div>
    </section>
</section>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
     {% block scripts %}{% endblock %}
</body>
</html>