﻿{% extends "app/base.html" %}

{% block content %} 
<div class="text-center"  style="padding-top:20px">
    
    <p style="font-size:24px"><span style="color:darkgray">{{ user.name }}'s</span> Emoji Collection </p>
    <div class="panel-body">

        
        {% include 'app/emoji_list.html' with emojis=emojis %}

        
    </div>

    <a href="{% url 'share_page' uuid %}" style="margin-top:20px" class="btn btn-lg btn-warning btn-w60">Share link to friends</a>

</div>

{% endblock %}

{% block scripts %}

    {% load staticfiles %}
	<script src="{% static 'app/scripts/html2canvas.js' %}"></script>
	<script src="{% static 'app/scripts/site.js' %}"></script>

{% endblock %}
