body {  
     padding-bottom: 20px;
     background-color: lightgoldenrodyellow;
     height: 100%
}

html{
    height: 100%
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.body-sec{
    min-height: 100vh;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-inverse{
    background-color: #002147; 
}

.navbar-inverse .navbar-brand{
    color: white;
}

.navbar-inverse .navbar-brand:hover{
    color: #FDA326;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #FDA326;
}


.my-container{
        padding-top: 50px; /*for below to the nav bar*/
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom:30px;
}

.content-main {
    padding-bottom:30px;
}

footer{
    padding: 20px 0;
    left: 0;
    width:100%;
    bottom: 0;
}


.panelList {
    padding: 10px;
    text-align: center
}

.panelList .panel {
    display: inline-block;
    padding: 0;
    vertical-align: top;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 1px 2px;
    position: relative
}

.panelList .char {
        font-size: 30px;
        border-radius: 10px 10px 0 0;
        line-height: 30px;
        font-weight: normal;
        min-width: 15px;
        padding: 2px 4px 8px

}

    /*Pop up*/


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  opacity: 1.0;
  margin-right: 8px;
}

.close:hover,.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 8px 8px;
  background-color: #FDA326;
  color: white;
}

.modal-body {
    padding: 8px 16px;
    text-align: start;
    background-color: lightgoldenrodyellow;
}

.modal-footer {
  padding: 8px 16px;
  margin-top: 0px;
  background-color: lightgoldenrodyellow;
  border-top: 1px solid #FDA326;
  text-align: center;
  font-style: italic;

}

.sm-ul{
    list-style: none;
    padding: 0;
}

.sm-ul > li > p{
    padding-left: 1.3em;
}
.sm-ul > li > p:before{
    content: "\f00c";
    font-family: FontAwesome;
    color: #FDA326;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}



.badge-box .box{
    background: #FFF;
    border-radius: 10px; 
    padding: 20px 10px;
    margin: 20px 0px;
    transition: all 0.5s ease-out;
}

.badge-box .box:hover{
   box-shadow: 0 0 6px #FDA326;
}

.badge-box .box .box-text{
    margin:10px 0px;
    font-size: 15px;
    line-height: 30px;
}




#selected-smiley-textarea, .panelList.emojiFont .char, .emoji-font {
        font-family: apple color emoji,segoe ui emoji,notocoloremoji,segoe ui symbol,android emoji,emojisymbols,emojione mozilla
}

.panelList .panel:hover {
   background: #dde8ee
}

.box {
    padding: 20px 2px;
    position: relative;
    background-color: white;
    border-radius:30px;
    margin-top:20px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#bottomStick {
    position: fixed;
    padding: 10px;
    background: #dde8ee;
    border-top: 1px solid #7695ad;
    bottom: 0;
    display: block;
    left: 0px;
    right: 0;
    z-index: 99;
}

#selected-smiley-textarea:disabled,#selected-smiley-textarea[disabled]{
    background-color:white;
    cursor: auto;
}

#selected-smiley-textarea {
    font-size: 20px;
    font-weight: normal;
    padding: 5px 10px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border-radius: 20px;
    overflow-wrap: break-word;
    resize: none;
}

.margin-left-right{
    margin-left:10px;
    margin-right:10px;
}

.margin-top-bottom-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-top-bottom-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}


.font-size-12{
    font-size:12px
}

.font-size-14{
    font-size:14px
}

.font-size-16{
    font-size:16px
}

.font-size-20 {
    font-size: 20px
}

.font-size-22 {
    font-size: 22px
}

.font-size-24 {
    font-size: 24px
}

.font-size-40 {
    font-size: 40px
}

.name-span{
   color:purple;
}


.btn-transparent {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.input-w60-center {
    margin: auto;
    margin-top:20px;
    max-width: 60%  
}

.center-emoji {
    margin:5px;
    padding:5px;
    color: #666;
    text-align: center;
    font-size: 30px;
}

.your-name-img {
    margin-top:50px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
    padding: 20px;
    background-color: red
}

.share-img {
    margin-top: 10px;
    padding: 10px;
}

.img-bg {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 20px;
}

.text-color-gray {
    color: #333333;
}

.text-light-gray {
    color: #909090;
}

.share-link {
    margin-top: 8px;
    font-size: 14px;
    padding: 8px;
    background-color: white;
    max-width:60%;
    margin:auto;
    border-radius: 5px;
}

.link-input {
    max-width: 100%;
    border: 1px solid #FDA326;
}

.link-input:disabled{
     background-color:white;
}

.link-input:hover{
     cursor:default
}

.font-fmly {
    font-family: 'Poppins';
}

.row-custom {
    margin: auto;
    margin-top: 20px;
    display: flex;
}

.column-custom {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
}

.btn-w60{
    width: 60%;
    margin-top: 30px
}

.smiley-list{
    margin-top:30px;
    margin-bottom:30px;
}

body {
    font-family: 'Poppins';
    color: #333333;
}

.btn-warning {
    color: #fff;
    background-color: #FDA326;
    border-color: #fc9403;
}

.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active{
    background-color: #e38502;
    border-color: #ca7702;
}

.rankings{
    margin-left:auto;
    margin-right: auto;
    width:100%;
    max-width: 100%;
}


.emoji-lg{
    
}

.export-card{
    margin-left: auto;
    width: 300px;
    margin-right: auto;
}


.nav-pills>li>a {
    color: purple;
    border-radius: 20px;
    background-color: #ececec;
    text-transform: capitalize;
    border: 1px solid;
}

.nav-pills > li{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: purple;
    border: 1px solid;
    background-color: white;
    border-radius: 20px;
}

.nav-pills > li > a:hover{
    background-color: white;
}

.social-media-row{
    max-width: 60%
}

.achievement img{
    margin: 2.5px;
}


.quote-div {
  font-size: 30px;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 20px 30px;
  line-height: 1.4;
    margin: 0px;
    color: #002147;
    border-left: none;
    /*background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 6px gray;*/
}

.quote-div p:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #000;
  font-size: 3em;
}
.quote-div p:after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: #000;
  font-size: 3em;
}

.user_emoji_blue{
    margin-right: -45px;
    background: white;
    border-radius: 10px;
 /*   border:1px solid lightblue;*/
    box-shadow: 2px 2px 10px lightblue;
}

.user_emoji_red{
    margin-right: -45px;
    background: white;
    border-radius: 10px;
   /* border:1px solid peachpuff;*/
    box-shadow: 2px 2px 10px peachpuff;
}

.conversation-img{
  width: 400px;
}

.not-found-img{
  width: 400px;
  height: 400px;
}

.contact-us-iframe{
  width: 70%;
  overflow:hidden;
}

.about-content{
  padding: 8px;
  border-radius: 8px;
  width: 60%;
  border:2px solid #FDA326;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.about-content p:last-child{
  margin-bottom: 0px;
}


.about{
  margin-bottom: 0px;
}
.about hr{
  width: 60%;
}

.private_logo_lg{
  width: 600px;
}

footer{
  padding: 0 0;
  color: #002147;
  border-bottom: 5px solid #FDA326;
}


@media screen and (min-width:768px){
    .rank:not(:last-child){
        border-right: 1px solid #FDA326;
    }
}

@media screen and (max-width:767px){
    .rank:first-child{
        border-bottom : 1px solid #FDA326;
    } 
   .contact-us-iframe{
      width: 100%;
    }

}

@media screen and (max-width: 620px){
   
}


@media screen and (max-width:480px) {
    .share-link {
        max-width: 100%;
    }
    .input-w60-center {
        max-width: 100%;
    }
    .btn-w60{
        width:100%
    }
    .rankings{
        width:100%;
        max-width: 100%;
    }
    .social-media-row{
         max-width: 100%
    }

.conversation-img{
  width: 300px;
}

.not-found-img{
  width: 300px;
  height: 300px;
}
.about-content{
  width: 100%;
}
.about hr{
  width: 100%;
}

.private_logo_lg{
  width: 300px;
}

}


@media screen and (max-width: 370px){
   
}